{% extends  'base.html' %}

{% block title %}{{ tabletop["name"] }}{% endblock %}

{%block content %}
<div class="container-fluid">
    <div class="row">
        <div id="game-area" class="col-lg-9">
            <a href="{{ url_for('index') }}">
                &lt; See All
            </a>
            [{{ tabletop["name"] }}]
            <span class="users">?</span> online

            <div id="phaser-container">
            </div>
        </div>

        <div id="sidebar" class="col-lg-3">
            <p><a href="{{ url_for('index') }}" class="text-white">https://bored.blue</a></p>

            <h3 class="mt-4">Create Tokens</h3>

            <form id="create-token-form">
                <div class="form-group">
                    <label for="shapeSelect">Shape</label>
                    <select id="shapeSelect" class="form-control">
                        <option>circle</option>
                        <option>triangle</option>
                        <option>horizrectangle</option>
                        <option>vertrectangle</option>
                        <option>star</option>
                        <option>virus</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="colorSelect">Color</label>
                    <select id="colorSelect" class="form-control">
                        <option>blue</option>
                        <option>purple</option>
                        <option>pink</option>
                        <option>red</option>
                        <option>orange</option>
                        <option>yellow</option>
                        <option>green</option>
                        <option>white</option>
                        <option>black</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="depthSelect">Ground</label>
                    <select id="depthSelect" class="form-control">
                        <option value="2">fore</option>
                        <option value="0">back</option>
                    </select>
                </div>

                <button type="button" id="tokenSubmit" class="btn btn-primary">Create</button>
            </form>

            <h3 class="mt-4">Help!</h3>
            <p><span class="text-warning font-weight-bold">[space]</span> to zoom in/out</p>
            <p><span class="text-warning font-weight-bold">[w|a|s|d]</span> to move pan across board</p>
            <p><span class="text-warning font-weight-bold">[shift]</span> to pan faster</p>
            <p><span class="text-warning font-weight-bold">[ctrl]</span> while dragging token to preview distance</p>

            <h3 class="mt-4">Toggle Background</h3>
            <button type="button" id="mapToggle" class="btn btn-warning">Toggle Map</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    const tabletop_identifier = "{{ tabletop['token'] }}";
</script>
<script src="{{ url_for('static', filename='js/ui.js') }}"></script>
<script src="{{ url_for('static', filename='js/hud_scene.js') }}"></script>
<script src="{{ url_for('static', filename='js/gameboard_scene.js') }}"></script>
<script src="{{ url_for('static', filename='js/sync_client.js') }}"></script>
<script src="{{ url_for('static', filename='js/token_manager.js') }}"></script>

<script>
    const game_type = "{{ tabletop['game_type'] }}";
</script>

<script src="{{ url_for('static', filename='js/game.js') }}"></script>
{% endblock %}
