body {
    font-family: "Courier New", sans-serif;
    text-align: center;
}

.buttons {
    font-size: 1em;
    display: flex;
    justify-content: center;
}

.button, .value {
    line-height: 0.5;
    padding: 1rem;
    margin: 0rem 0.5rem;
    border: medium solid;
    min-width: 1em;
}

.button {
    cursor: pointer;
    user-select: none;
}

.minus {
    color: red;
}

.plus {
    color: green;
}

.value {
    min-width: 1em;
}

.state {
    font-size: 1em;
}
